@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="page1" class="container" style="padding-top:50px;" data-bind="component: { name: route().page, params: route }">
    <div class="container" style="background-color: red">
        <h1>Index from Server</h1>
    </div>
</div>

